
@page { 
    @top-left-corner{content: " "; border: solid green;}
    @top-left{content:"";}
    @top-center {content: counter(page);}
    @top-right {content:"";}
    @top-right-corner {content:"";}
    @bottom-left-corner {content:"";}
    @bottom-left {content: "Page " counter(page);}
    @bottom-center {display: none}
    @bottom-right {display:none}
    @bottom-right-corner {display: none}
    size: auto;
    margin: 0;
}

@media print {
    body {
        font-size: 12pt;
        -webkit-print-color-adjust: exact; 
    }
    section.page {
        display: block;
    }
      
}