h1, .h1 {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
}
h2 {
    font-weight: bold;
    font-size: 12pt;
}

@page { 
    @top-left-corner{content: " "; border: solid green;}
    @top-left{content:"";}
    @top-center {content: counter(page);}
    @top-right {content:"";}
    @top-right-corner {content:"";}
    @bottom-left-corner {content:"";}
    @bottom-left {content: "Page " counter(page);}
    @bottom-center {display: none}
    @bottom-right {display:none}
    @bottom-right-corner {display: none}
    size: auto;
    margin: 0;
}

@media screen {
    section.page {
        /* display: none; */
    }
}

section.page {
    padding: 2cm;
    page-break-after: always;
    height: 100%;
    position: relative;
}
section.page footer{
    position: absolute;
    bottom: 2cm;
}

table{
    width: 100%;
}
table.lines td, table.lines th{
    border: 1px solid black;
    padding: .3cm;
}

.sq {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 4px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.7);
}

div.splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    z-index: 9999;
}
div.frame {
    border: 1px solid black;
    padding: .2cm;
}
div.stamp-place{
    padding-left: 4cm;
}

.btn i {
    vertical-align: middle;
    margin-left: 5px;
}

tr.header-row {
    background-color: lightgray!important;
}

@media print {
    body {
        -webkit-print-color-adjust: exact; 
    }
}


fieldset select{
    width: auto!important;
}